body{
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #bb00ff 100%);
    background-size: cover;
}

.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}

#banner-area{
    display: block;
} 

#main-container{
    display: none;
}

/* media queary */
@media only screen and (min-width: 1500px) {
    body{
        width: 1400px;
        margin: 0 auto;
    }
}